@{
    ViewData["Title"] = "Youtube to MP3";
}

<div class="text-center bg-white border rounded">
    <div class="panel-body">
       @* <div class="div-form">*@
        <div class="hero hero-homepage">
            <h1 class="hero-header">Youtube to MP3</h1>
            <p>Download YouTube videos in MP3, MP4, 3GP,... and many more formats</p>
            <div>
                <form class="form-inline form-search" action="/en61" id="search-form" name="mc-embedded-subscribe-form">
                    <input class="form-control form-control-lg" value="https://www.youtube.com/watch?v=C_xKsYG7KGQ&list=PLxNH9OmYaam82QDkiwdhXZnatUSrLdreF" id="txt-url" name="query" type="text" placeholder="Search or paste link here..." autocomplete="off">
                    <button type="button" value="Start" id="btn-submit" class="btn btn-lg" onclick="analyze();">
                        <span class="hidden-xs">Start </span> <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                    <div id="result-suggest-container"></div>
                    <p class="small">By using our service you are accepting our <a class="active" href="/terms-of-service" target="_blank">terms of use</a>.</p>
                    <img id="loading_img" src="//www.y2mate.com/themes/images/loading.gif" style="display: none;">
                </form>
            </div>
        </div>
      @*  </div>*@
    </div>
</div>
