@model Youtube2YourSSD.Models.YoutubeData
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-widht" />
    <title>Youtube2YourSSD</title>
</head>
<body>
    <form  asp-action="Index" method="post">
        <div>
            <label asp-for="YoutubeLink">Insert the link please</label>
            <input asp-for="YoutubeLink"/>
        </div>
        <button type="submit">Get MP3</button>
    </form>
</body>
</html>